doctype html
head
    title Title
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/font.css')
    link(rel='stylesheet' href='/css/home.css')
nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='/') SambNodejsCMS
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/')
                    | Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='/admin') Admin
            li.nav-item
                a.nav-link(href='/about') About
        a.btn.btn-sm.btn-outline-light.mr-2(href='login') Login
        a.btn.btn-sm.btn-outline-success(href='register') Sign up