<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title><!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SambNodejsCMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
        <% if (auth.check) { %>
            <a class="btn btn-sm btn-light mr-2" href="panel">Panel</a>
            <a class="btn btn-sm btn-danger" href="/logout">Exit</a>
        <% } else { %>
            <a class="btn btn-sm btn-outline-light mr-2" href="/login">Login</a>
            <a class="btn btn-sm btn-outline-success" href="/register">Sign up</a>
        <% } %>
    </div>
</nav>

<div class="container mt-4" style="text-align: right; direction: rtl">
    <%- body %>
</div>


<script src="/javascript/jquery-3.4.1.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<%- script %>
</body>
</html>