<%- include('./layout/header'); -%>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 ">
            <div class="card border-success bg-light mb-3 mt-5" style="max-width: 100%;">
                <div class="card-header"><h2>Login</h2></div>
                <div class="card-body">
                    <form action="/register"></form>

                </div>
                <div class="card-footer bg-transparent border-success">Footer</div>
            </div>
        </div>
    </div>
</div>

<%- include('./layout/footer'); -%>